div[class="sidebar"]{
    height:100%;
    background:#222;
    position:fixed;
    top:0;
    right:-324px;
    z-index:1;
    transition:all .35s;
}

input[id="menuicon"]+label{
    display: block;
    width:60px;
    height: 50px;
    position: fixed;
    right:0;
    transition: all .35s;
    cursor: pointer;
}

input[id="menuicon"]:checked + label + div{
    z-index: 2;
    right: 1px;
}


/* The sidebar menu */
/*.sidebar {*/
/*  height: 100%; !* 100% Full-height *!*/
/*  width: 0; !* 0 width - change this with JavaScript *!*/
/*  position: fixed; !* Stay in place *!*/
/*  z-index: 1; !* Stay on top *!*/
/*  top: 0;*/
/*  left: 0;*/
/*  background-color: #111; !* Black*!*/
/*  overflow-x: hidden; !* Disable horizontal scroll *!*/
/*  padding-top: 60px; !* Place content 60px from the top *!*/
/*  transition: 0.5s; !* 0.5 second transition effect to slide in the sidebar *!*/
/*}*/

/*!* The sidebar links *!*/
/*.sidebar a {*/
/*  padding: 8px 8px 8px 32px;*/
/*  text-decoration: none;*/
/*  font-size: 25px;*/
/*  color: #818181;*/
/*  display: block;*/
/*  transition: 0.3s;*/
/*}*/

/*!* When you mouse over the navigation links, change their color *!*/
/*.sidebar a:hover {*/
/*  color: #f1f1f1;*/
/*}*/

/*!* Position and style the close button (top right corner) *!*/
/*.sidebar .closebtn {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 25px;*/
/*  font-size: 36px;*/
/*  margin-left: 50px;*/
/*}*/

/*!* The button used to open the sidebar *!*/
/*.openbtn {*/
/*  font-size: 20px;*/
/*  cursor: pointer;*/
/*  background-color: #111;*/
/*  color: white;*/
/*  padding: 10px 15px;*/
/*  border: none;*/
/*}*/

/*.openbtn:hover {*/
/*  background-color: #444;*/
/*}*/

/*!* Style page content - use this if you want to push the page content to the right when you open the side navigation *!*/
/*#main {*/
/*  transition: margin-left .5s; !* If you want a transition effect *!*/
/*  padding: 20px;*/
/*}*/

/*!* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
/*  .sidebar {padding-top: 15px;}*/
/*  .sidebar a {font-size: 18px;}*/
/*}*/


/*.sidebar {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  width: 200px;*/
/*  background-color: #f1f1f1;*/
/*  position: fixed;*/
/*  height: 100%;*/
/*  overflow: auto;*/
/*}*/

/*!* Sidebar links *!*/
/*.sidebar a {*/
/*  display: block;*/
/*  color: black;*/
/*  padding: 16px;*/
/*  text-decoration: none;*/
/*}*/

/*!* Active/current link *!*/
/*.sidebar a.active {*/
/*  background-color: #4CAF50;*/
/*  color: white;*/
/*}*/

/*!* Links on mouse-over *!*/
/*.sidebar a:hover:not(.active) {*/
/*  background-color: #555;*/
/*  color: white;*/
/*}*/

/*!* Page content. The value of the margin-left property should match the value of the sidebar's width property *!*/
/*div.content {*/
/*  margin-left: 200px;*/
/*  padding: 1px 16px;*/
/*  height: 1000px;*/
/*}*/

/*!* On screens that are less than 700px wide, make the sidebar into a topbar *!*/
/*@media screen and (max-width: 700px) {*/
/*  .sidebar {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    position: relative;*/
/*  }*/
/*  .sidebar a {float: left;}*/
/*  div.content {margin-left: 0;}*/
/*}*/

/*!* On screens that are less than 400px, display the bar vertically, instead of horizontally *!*/
/*@media screen and (max-width: 400px) {*/
/*  .sidebar a {*/
/*    text-align: center;*/
/*    float: none;*/
/*  }*/
/*}*/