<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/map.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <title>지도</title>
    <script src="/static/js/jquery-3.4.1.js"></script>
</head>
<body>
    <div class="header">
        <div class="navbar2" id ='nav'>
            <ul>
                <a href="/"><li>현재 충전소 위치</li></a>
                <a href="/map2"><li>최적입지</li></a>
                <a href=""><li>노선</li></a>
                <a href=""><li>분석</li></a>
                <li>
                    <input type="checkbox" id="menuicon" style="width: 60px;height: 60px;">
                      <label for="menuicon">
                        <span></span>
                        <span></span>
                        <span></span>
                      </label>
                      <div class = "sidebar">
                        <iframe src="https://m.map.kakao.com" style="height: 100%; width: 320px;color: #222222"></iframe>
                      </div>
                </li>
            </ul>
        </div>
    </div>
    <script type='text/javascript'>
        var nav = document.getElementById('nav');
        window.onscroll = function(){
          if(window.pageYOffset > 100){
            nav.style.background = '#007bff';
            nav.style.boxShadow = "0px 4px 2px grey";
          }
          else{
            nav.style.background = 'transparent';
            nav.style.boxShadow = none;
          }
        }
    </script>
    <div id = "container" class="container-fluid">
        <div class="wrap">
            <div class="item">
                <div class="slideContainer">
                    <input type="range" min="200" max="10000" value="1" id="myRange"class="slider">
                    <p><span id="value">value: </span></p>
                </div>
            </div>
            <div id="map" style="width:80%;">

            </div>
        </div>
    <script src="/static/js/slider.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9c9ef685cbc8314a2eda00f142257992"></script>
    <script src="/static/js/kakao2.js"></script>
</body>
</html>
